*.swp
*.gz

*/*/target/
*/*/project/

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*~.nib
local.properties
.settings/
.loadpath
.recommenders
debug.log
*.log

# Python
*.pyc
__pycache__/

# Projects dependent files/folders
spark-movie/spark-consumer/checkpoint
spark-movie/data/
