*.swp
*.gz
*.bz2
*.tga
*.png

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*~.nib
local.properties
.settings/
.loadpath
.recommenders
debug.log
*.log

# Idea
.idea/
target/

# VSCODE
.vscode/

# Python
*.pyc
__pycache__/
